name: CI

on: [push, pull_request]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  whitespace-errors:
    name: Check for whitespace errors
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: check
      run: git diff-index --check --cached 4b825dc642cb6eb9a060e54bf8d69288fbee4904

  build-check:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { cc: gcc-14, runs-on: ubuntu-latest }
          - { cc: gcc-13, runs-on: ubuntu-latest }
          - { cc: gcc-12, runs-on: ubuntu-latest }
          - { cc: gcc-11, runs-on: ubuntu-latest }
          - { cc: gcc-10, runs-on: ubuntu-latest }
          - { cc: gcc-9, runs-on: ubuntu-latest }
          - { cc: clang-19, runs-on: ubuntu-latest }
          - { cc: clang-18, runs-on: ubuntu-latest }
          - { cc: clang-17, runs-on: ubuntu-latest }
          - { cc: clang-16, runs-on: ubuntu-latest }
          - { cc: clang-15, runs-on: ubuntu-latest }
          - { cc: clang-14, runs-on: ubuntu-latest }
          - { cc: clang-13, runs-on: ubuntu-22.04 }
          - { cc: clang-12, runs-on: ubuntu-22.04 }
          - { cc: clang-11, runs-on: ubuntu-22.04 }
    name: Build ${{ matrix.cc }}-${{ matrix.runs-on }}
    env:
      CC: ${{ matrix.cc }}
      TARGET: x86_64
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh
