name: CI

on: [push, pull_request]

jobs:
  whitespace-errors:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: check
      run: git diff-index --check --cached 4b825dc642cb6eb9a060e54bf8d69288fbee4904

  build-check:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, ubuntu-22.04]
        cc: [gcc-14, gcc-13, gcc-12, gcc-11, gcc-10, gcc-9, clang-18, clang-17, clang-16, clang-15, clang-14, clang-13, clang-12, clang-11]
        target: [x86_64]
        exclude:
          - cc: gcc-14
            runs-on: ubuntu-22.04
          - cc: gcc-13
            runs-on: ubuntu-22.04
          - cc: gcc-12
            runs-on: ubuntu-22.04
          - cc: gcc-11
            runs-on: ubuntu-22.04
          - cc: gcc-10
            runs-on: ubuntu-22.04
          - cc: gcc-9
            runs-on: ubuntu-22.04
          - cc: clang-18
            runs-on: ubuntu-22.04
          - cc: clang-17
            runs-on: ubuntu-22.04
          - cc: clang-16
            runs-on: ubuntu-22.04
          - cc: clang-15
            runs-on: ubuntu-22.04
          - cc: clang-14
            runs-on: ubuntu-22.04
          - cc: clang-13
            runs-on: ubuntu-latest
          - cc: clang-12
            runs-on: ubuntu-latest
          - cc: clang-11
            runs-on: ubuntu-latest
    name: Build ${{ matrix.cc }}-${{ matrix.target }}
    env:
      CC: ${{ matrix.cc }}
      TARGET: ${{ matrix.target }}
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh
